<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>group_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>group_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>group_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>group.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6614b4e445be22250513f1891fa48ae8$</string>
            <key>textureFileName</key>
            <string>group.png</string>
        </dict>
    </dict>
</plist>
