<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>25</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>metal_box</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0850,0.0800 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 184.000,-17.000 }</string>	
								<string>{ 184.000,183.000 }</string>	
								<string>{ -16.000,183.000 }</string>	
								<string>{ -16.000,-17.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>metal_circle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>149.000</real>
                             <key>position</key> <string>{ 150.000,150.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>metal_long</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 800.000,0.000 }</string>	
								<string>{ 800.000,80.000 }</string>	
								<string>{ 0.000,80.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal8</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_metal9</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.2</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_stone1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 186.000,0.000 }</string>	
								<string>{ 186.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_stone2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 328.000,0.000 }</string>	
								<string>{ 328.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_stone3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 153.000,0.000 }</string>	
								<string>{ 153.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_stone4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.7</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,99.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 100.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood3</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood5</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood6</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 1.000,0.000 }</string>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood8</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.6</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>static_wood9</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32763</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 100.000,0.000 }</string>	
								<string>{ 100.000,100.000 }</string>	
								<string>{ 0.000,100.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>stone_box</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.4</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 200.000,0.000 }</string>	
								<string>{ 200.000,200.000 }</string>	
								<string>{ 0.000,200.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>stone_circle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.8</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>150.000</real>
                             <key>position</key> <string>{ 150.674,150.674 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>stone_long</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>4</real>
                        <key>friction</key> <real>0.4</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 533.000,0.000 }</string>	
								<string>{ 533.000,80.000 }</string>	
								<string>{ 0.000,80.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>wood_box</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.4</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 200.000,0.000 }</string>	
								<string>{ 200.000,200.000 }</string>	
								<string>{ 0.000,200.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>wood_brown_long</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.4</real>
                        <key>restitution</key> <real>0.3</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,3.000 }</string>	
								<string>{ 691.000,3.000 }</string>	
								<string>{ 691.000,80.000 }</string>	
								<string>{ 0.000,80.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>wood_circle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.9</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>150.270</real>
                             <key>position</key> <string>{ 149.551,149.551 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>cannon_bullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>20</real>
                        <key>friction</key> <real>0.8</real>
                        <key>restitution</key> <real>0.4</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>60.133</real>
                             <key>position</key> <string>{ 59.663,59.663 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>electric_bullet1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>0.2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>37.054</real>
                             <key>position</key> <string>{ 45.056,43.933 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hand_bullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>20</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>16.000</real>
                             <key>position</key> <string>{ 16.966,15.843 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>fire_bullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>32767</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>38.118</real>
                             <key>position</key> <string>{ 43.933,42.809 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

