<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear_arm_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,177},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>bear_arm_outter.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>bear_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,173}}</string>
                <key>sourceSize</key>
                <string>{106,173}</string>
            </dict>
            <key>bear_body_elbow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,90},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>bear_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>bear_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{89,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>sourceSize</key>
                <string>{89,76}</string>
            </dict>
            <key>bear_leg_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>bear_leg_outter.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,48},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bear.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a6b887cf59271394874ecd934f855d1$</string>
            <key>textureFileName</key>
            <string>bear.png</string>
        </dict>
    </dict>
</plist>
