<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,303},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>button_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>button_bk_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>button_bk_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>button_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>button_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,294},{62,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>button_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,396},{58,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{58,100}</string>
            </dict>
            <key>button_forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,92},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>button_group_bk.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,230},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>button_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,307},{119,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,108}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>button_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,428},{75,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{75,78}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>button_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,230},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>button_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,128},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>button_shopping.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,428},{100,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>button_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,405},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>show_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,155},{37,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,150}}</string>
                <key>sourceSize</key>
                <string>{37,150}</string>
            </dict>
            <key>show_bullet_used.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{37,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,150}}</string>
                <key>sourceSize</key>
                <string>{37,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othres.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:199a0d91dba8f56da2dcf9e4d7dfa03c$</string>
            <key>textureFileName</key>
            <string>othres.png</string>
        </dict>
    </dict>
</plist>
